#docker run --name nginx_proxy -v `pwd`:/etc/nginx/conf.d -p 443:443 -p 80:80 nginx
version: '3'
volumes:
  gitea-data:
    driver: "local"
  jenkins-data:
    driver: "local"
  nexus-data:
    driver: "local"
  nginx-log:
    driver: "local"
  sonarqube-conf:
    driver: "local"
  sonarqube-data:
    driver: "local"
  sonarqube-extensions:
    driver: "local"
  sonarqube-bundled-plugins:
    driver: "local"
  postgres-data:
    driver: "local"
  postgres:
    driver: "local"
services:
  nginx: 
    image: nginx:latest
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ${pwd}/nginx/conf.d:/etc/nginx/conf.d
      - ${pwd}/nginx/ssl:/etc/nginx/ssl
      - ${pwd}/nginx/html:/usr/share/nginx/html
      - nginx-log:/var/log/nginx
    depends_on:
      - jenkins
      - keycloak
      - nexus
      - sonarqube
    restart: always
  keycloak:
    image: jboss/keycloak:4.5.0.Final
    container_name: keycloak
    environment:
      KEYCLOAK_USER: 'admin'
      KEYCLOAK_PASSWORD: 'password'
      PROXY_ADDRESS_FORWARDING: 'true'
      DB_ADDR: postgres
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_PASSWORD: keycloak
    depends_on:
      - postgres
  jenkins:
    image: jenkins.nginx.docker:lts
    build:
      context: ./jenkins
      dockerfile: Dockerfile
    container_name: jenkins
    volumes:
      - jenkins-data:/var/jenkins_home
    restart: always
  nexus:
    image: sonatype/nexus3:3.14.0
    container_name: nexus
    volumes:
      - "nexus-data:/nexus-data"
  sonarqube:
    image: sonarqube:7.1
    container_name: sonarqube
    environment:
      - SONARQUBE_JDBC_URL=jdbc:postgresql://postgres:5432/sonar
    volumes:
      - "nexus-data:/nexus-data"
    volumes:
      - sonarqube-conf:/opt/sonarqube/conf
      - sonarqube-data:/opt/sonarqube/data
      - sonarqube-extensions:/opt/sonarqube/extensions
      - sonarqube-bundled-plugins:/opt/sonarqube/lib/bundled-plugins
  gitea:
    image: gitea/gitea:1.5.2
    container_name: gitea
    volumes:
      - '${pwd}/gitea/app.ini'
      - 'gitea-data:/data'
    depends_on:
      #- openldap
      - postgres
  postgres:
    image: postgres:10.5
    container_name: postgres
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'postgres'
    volumes:
      - postgres:/var/lib/postgresql
      # This needs explicit mapping due to https://github.com/docker-library/postgres/blob/4e48e3228a30763913ece952c611e5e9b95c8759/Dockerfile.template#L52
      - postgres-data:/var/lib/postgresql/data
      #- ${pwd}/postgres/create-multiple-postgresql-databases.sh:/docker-entrypoint-initdb.d/create-multiple-postgresql-databases.sh
      - ${pwd}/postgres/initdb.d:/docker-entrypoint-initdb.d
